zone "{{ dns_domain }}" {
    type master;
    file "/etc/bind/zones/db.{{ dns_domain }}";
};

zone "{{ dns_reverse_zone }}" {
    type master;
    file "/etc/bind/zones/db.{{ dns_reverse_zone }}";
};